@charset "UTF-8";

#wrap { 
    width: 1200px; 
    height: 700px; 
    margin: 0 auto;
}

#wrap #header { 
    width: 100%; 
    height: 100px;
    background-color: rgba(200,200,0,.5);
    display: flex;
    position: relative;
    z-index: 3;
}
#wrap #header .left {
    width: 180px;
    height: 100px;
    background-color: rgba(0, 167, 200, 0.5);
}
#wrap #header .right {
    width: 1020px;
    height: 100px;
    background-color: rgba(233, 173, 162, 0.5);
}
#wrap #header .right #nav {
    width: 700px;
    height: 100%;
    margin: 25px 25px 25px auto;
}
#wrap #header .right #nav>ul {
    width: 100%;
    display: flex;
}
#wrap #header .right #nav>ul>li {
    width: 25%;
    height: 100%;
}
#wrap #header .right #nav>ul>li>a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    color: #333;
}
#wrap #header .right #nav>ul>li>a:hover {
    background: #0066ad;
    color: #fff;
}
#wrap #header .right #nav>ul>li>a.on {
    background: #0066ad;
    color: #fff;
}
#wrap #header .right #nav>ul>li .sub {
    width: 100%;
    display: none;
}
#wrap #header .right #nav>ul>li .sub ul {}
#wrap #header .right #nav>ul>li .sub ul li {}
#wrap #header .right #nav>ul>li .sub ul li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    color: #333;
}
#wrap #header .right #nav>ul>li .sub ul li a:hover {
    background: #30a3f3;
    color: #fff;
}
/* #wrap #header .right #nav>ul>li:hover .sub {
    display: block;
} */

#wrap #main {
    width: 100%;
    height: 500px;
}
#wrap #main #section1 {
    width: 100%;
    height: 300px;
    background-color: rgba(198, 255, 181, 0.5);
}

#wrap #main #section1 .slide-container { width: 100%; position: relative; z-index: 2;}
#wrap #main #section1 .slide-container .slide-view { width: 100%; position: relative; overflow: hidden;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap { width: 500%; display: flex; margin-left: -100%; position: relative;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide { 
    width: 100%; 
    height: 300px;
    background: url() no-repeat 50% -100px;
    background-size: cover;
 }
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide1 { background-image: url(../img/wedding-img14.jpg);}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide2 { background-image: url(../img/wedding-img8.jpg);}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide3 { background-image: url(../img/wedding-img9.jpg);}


#wrap #main #section2 { width: 100%; height: 200px; display: flex;}
#wrap #main #section2 .left { width: 33.333%; height: 200px; background: #fff;}
#wrap #main #section2 .left .gap { padding: 1px 0 0 0; height: 100%; position: relative; padding: 36px 0 0 0;}
#wrap #main #section2 .left .gap button { width: 100px; height: 35px; border:1px solid #ccc; border-bottom: 0; position: absolute; top: 2px; border-radius: 5px 5px 0 0;}
#wrap #main #section2 .left .gap button.notice-btn { background: #fff; left: 10px; z-index: 3; cursor: default; }
#wrap #main #section2 .left .gap button.gallery-btn { background: #e0e0e0; left: 110px; z-index: 1; cursor: pointer;}


/* 공지사항 박스 */

#wrap #main #section2 .left .gap .notice-box { width: 100%; height: 164px; border: 1px solid #ccc; position: relative; z-index: 2;}
#wrap #main #section2 .left .gap .notice-box .notice-gap { padding: 20px 10px; width: 100%; }
#wrap #main #section2 .left .gap .notice-box .notice-gap ul { width: 100%; height: 100%;}
#wrap #main #section2 .left .gap .notice-box .notice-gap ul li { width: 100%; line-height: 30.5px; padding: 0 90px 0 13px; position: relative;}
#wrap #main #section2 .left .gap .notice-box .notice-gap ul li a { 
    font-size: 14px; 
    white-space: nowrap; 
    overflow: hidden; 
    display: block; 
    width:100%;
    text-overflow: ellipsis;
}
#wrap #main #section2 .left .gap .notice-box .notice-gap ul li a::before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1.5px;
    background: #333;
}
#wrap #main #section2 .left .gap .notice-box .notice-gap ul li a:hover {
    color: #000; 
    text-decoration: underline;
    
}

#wrap #main #section2 .left .gap .notice-box .notice-gap ul li span { 
    position: absolute;
    top: 0;
    right: 0;
}

#wrap #main #section2 .left .gap button.notice-btn.on { background: #e0e0e0; z-index: 1; cursor: pointer;}
#wrap #main #section2 .left .gap button.gallery-btn.on { background: #fff; z-index: 3;cursor: default; }


/* 팝업창(모달창) 레이어 팝업창 제작 */

#wrap #popup { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 4; background: rgba(0,0,0,.6);}
#wrap #popup .container { width: 700px; height: 500px; position: relative; top: 50%; margin: -250px auto 0 auto; background: #fff;}










#wrap #main #section2 .center {
    width: 33.333%;
    height: 200px;
}
#wrap #main #section2 .right {
    width: 33.333%;
    height: 200px;
    background-color: rgba(73, 86, 137, 0.5);
}

#wrap #footer {
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    z-index: 1;
}
#wrap #footer .left {
    width: 180px;
    height: 100px;
}
#wrap #footer .right {
    width: 1020px;
    height: 100px;
}
#wrap #footer .right .top {
    width: 100%;
    height: 50%;
}
#wrap #footer .right .bottom {
    width: 100%;
    height: 50%;
}

#wrap #modal { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 4;
    display: none;
}
#wrap #modal .container {
    width: 800px;
    height: auto;
    background: #fff;
    position: relative;
    margin: 0 auto;
    margin-top: -342.775px;
    top: 50%;

}
#wrap #modal .container ul { padding: 30px;}
#wrap #modal .container ul li { line-height: 40px; border-bottom: 1px solid #ccc; display: flex;}
#wrap #modal .container ul li:first-child { line-height: 70px; border-top: 1px solid #111; background: #f4f4f4;}
#wrap #modal .container ul li h1 { font-size: 20px; color: #111; font-weight: 500; padding: 0 0 0 15px;}
#wrap #modal .container ul li span:nth-child(1) { display: inline-block; width: 15%; background: #f4f4f4; text-align: center;}
#wrap #modal .container ul li span:nth-child(2) { display: inline-block; width: 85%; background: #fff; padding: 0 0 0 15px;}
#wrap #modal .container ul li:nth-child(5) { display: block;}
#wrap #modal .container ul li .contents { text-align: center; padding: 20px 0 30px 0;}
#wrap #modal .container ul li .contents h2 { font-size: 16px; color: #333;}
#wrap #modal .container ul li .contents .img-box { padding: 10px 0 0 0;}
#wrap #modal .container ul li .contents .img-box img { width: 450px; }
#wrap #modal .container ul li:last-child { border-bottom: 0; padding: 20px 0 0 0; text-align: right; display: block;}
#wrap #modal .container ul li:last-child button { width: 80px; height: 35px; border:1px solid #ccc; cursor: pointer; }
#wrap #modal .container ul li:last-child button:hover { background: #fcfcfc;}
